@using OpinemBem.Models
@model Usuario
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    table > tbody > tr > td {
        vertical-align: middle !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form>
            <fieldset>
                <legend>Dados Administrador</legend>
                <div class="col-md-4 text-capitalize">
                    <img class="img-circle text-center" src="@Url.Content("~/Images/8492b2d9c739cf52fbab7085279ecb14.jpg")" width="150" height="150" />
                </div>
                <div class="col-md-4 text-capitalize" style="padding-top: 15px;">
                    @Html.LabelFor(m => m.Nome, "Nome: Isabela Sucharski", new { @class = "control-label text-center" })
                </div>
                <div class="col-md-4 text-capitalize" style="padding-top: 15px;">
                    <label class="control-label">Quantidade de Projetos: @Model.Leis.Count</label>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-12" style="padding-top: 25px;">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th class="text-center" style="vertical-align: middle;">Nome do Projeto</th>
                    <th class="text-center" style="vertical-align: middle;">Tempo Disponível</th>
                    <th class="text-center" style="vertical-align: middle;">Categoria</th>
                    <th class="text-center" style="vertical-align: middle;">Votos à Favor</th>
                    <th class="text-center" style="vertical-align: middle;">Votos Contra</th>
                    <th class="text-center" style="vertical-align: middle;">Total de Votos</th>
                    <th class="text-center" style="vertical-align: middle;">Publicado?</th>
                    <th class="text-center" style="vertical-align: middle; white-space: nowrap;"></th>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (ProjetoDeLei item in Model.Leis)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("GerenciarLeisAdm", "Leis", new { @id = item.Id })">
                                @item.Nome
                            </a>
                        </td>
                        <td>@item.TempoDisponivel</td>
                        <td>@item.Categoria.Nome</td>
                        <td>@item.VotosAFavor</td>
                        <td>@item.VotosContra</td>
                        <td>@item.TotalDeVotos</td>
                        <td>@(item.Publicado ? "Sim" : "Não")</td>
                        <td style="white-space: nowrap;">
                            <a href="@Url.Action("AlterarProjeto", "Projetos", new { @id = item.Id })">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="@Url.Action("ExcluirProjeto", "Projetos", new { @id = item.Id })" onclick="javascript: if (!(confirm('Deseja realmente excluir este projeto?'))) return false;">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
