@using OpinemBem.Models
@model Usuario
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-3" style="border-right: 2px solid #000;">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="@Url.Content("~/Images/opinemmbem.png")" width="200" height="150" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-bottom: 2px solid #000">
                @Html.LabelFor(m => m.Nome, "Nome: João da Silva", new { @class = "control-label text-center", @style = "font-size: 1.7em" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.Senha, "Senha Atual:", new { @class = "control-label text-center", @style = "font-size: 1.2em" })
                            @Html.PasswordFor(m => m.Senha, new { @class = "form-control", @size = "47" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <a href=@Url.Action("Index","PerfilU")>
                                <input type="button" class="btn btn-primary" value="Alterar Senha" onclick="alert('Senha alterada com sucesso'); return true;" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome do projeto</th>
                        <th>Tempo Disponível</th>
                        <th>Código</th>
                        <th>Já votado?</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProjetoDeLei item in Model.Leis)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("ConcordaLeisAdm", "Leis")">
                                    @item.Nome
                                </a>
                            </td>
                            <td>@item.TempoDisponivel</td>
                            <td>@item.Id</td>
                            <td>0</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>