@using OpinemBem.Models
@model ProjetoDeLei
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Cadastro de Projeto de Lei</h1>
        <form class="form-horizontal" action="@Url.Action("SalvarProjetoU", "Projetos")">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Nome, "Nome:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", @required = true })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    @Html.LabelFor(m => m.Categoria.Id, "Categoria:", new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.Categoria.Id, new SelectList(ViewBag.Categorias ?? new List<Categoria>(), "Id", "Nome"), "--[SELECIONE]--", new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.TempoDisponivel, "Tempo Disponível (dias):", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.TempoDisponivel, new { @class = "form-control", @required = true })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Descricao, "Descrição:", new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", @rows = 5, @required = true })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Vantagens, "Vantagens:", new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Vantagens, new { @class = "form-control", @rows = 5 })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Desvantagens, "Desvantagens:", new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Desvantagens, new { @class = "form-control", @rows = 5 })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary" value="Cadastrar" />
                    <a class="btn btn-default" href="@Url.Action("ProjetoU", "Projetos")">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>