@using OpinemBem.Models
@model List<ProjetoDeLei>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Projetos à Votar</h1>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form action="@Url.Action("Buscar", "Projetos")" class="form-horizontal">
                <div class="input-group">
                    <input name="campoTexto" type="text" class="form-control" placeholder="Pesquisar..." />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Procurar</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="padding-top: 25px;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome do projeto</th>
                        <th>Tempo Disponível(dias)</th>
                        <th>Categoria</th>
                        <th>Votos À Favor</th>
                        <th>Votos Contra</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProjetoDeLei item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("ConcordaLeisU", "Leis", new { @id = item.Id })">
                                    @item.Nome
                                </a>
                            </td>
                            <td>@item.TempoDisponivel</td>
                            <td>@item.Categoria.Nome</td>
                            <td>@item.VotosAFavor</td>
                            <td>@item.VotosContra</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>