@using OpinemBem.Models
@model Usuario
@{
    Layout = "~/Views/Shared/_LayoutInicioU.cshtml";
}
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <img src="@Url.Content("~/Images/opinemmbem.png")" width="375" height="300" />
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.CPF, "CPF:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.CPF, new { @class = "form-control", @placeholder = "Ex.: 000.000.000-00" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <a href="@Url.Action("Index", "LoginAdm")" class="elements">Esqueceu senha?</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href=@Url.Action("ProjetoU", "Projetos")>
                        <input type="button" class="btn btn-primary" value="Entrar" onclick="alert('Bem-Vindo ao Opinem Bem'); return true;" />
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>