@using OpinemBem.Models
@model ProjetoDeLei
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Projeto de Lei</h1>
        <form class="form-horizontal" action="@Url.Action("SalvarLeisAdm","Leis")">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Nome, "Nome:", new { @class = "control-label text-center" })
                    <p>@Model.Nome</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Categoria.Id, "Categoria:", new { @class = "control-label text-center" })
                    <p>@Model.Categoria.Nome</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Descricao, "Descrição:", new { @class = "control-label text-center" })
                    <p>@Model.Descricao</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Vantagens, "Vantagens:", new { @class = "control-label text-center" })
                    <p>@Model.Vantagens</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Desvantagens, "Desvantagens:", new { @class = "control-label text-center" })
                    <p>@Model.Desvantagens</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Deseja publicar este projeto?</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <a class="btn btn-success" href="@Url.Action("Publicar", "Projetos", new { @id = Model.Id })" onclick="if(!confirm('Deseja publicar este projeto?')) return false;">Publicar</a>
                </div>
            </div>
        </form>
    </div>
</div>