
@using OpinemBem.Models
@model Estado
@{ 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Cadastro de Estado</h1>
        <form class="form-horizontal"  action="@Url.Action("SalvarEstado", "Estado")">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Nome, "Nome Estado:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Sigla, "Sigla:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Sigla, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <input type="submit" class="btn btn-primary" value="Salvar" />
                    <a class="btn btn-default" href="@Url.Action("Index", "Estado")">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>